*{
	font-family:arial;
}

body{
	background-color: #fdccff;
}

/* SERVICES SECTION */

#services_offered{
	margin-top: 75px;
}

.services_column{
	width: 370px;
	margin-top: 30px;
}


/* GALLERY SECTION */

#gallery{
	margin-top: 100px;
}

footer{
	font-size: 20px;
	background-color: black;
	color: #addcff;
	margin-top: 30px;
}

.footer-link{
	 color: white;
}

.footer-link:hover{
	color: #addcff;
	#addcff
}
